<!DOCTYPE html>
<html>
    <head>
        <title>Sunny Configuration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src= "web/angular.min.js"></script>
    </head>
    <body>
        <div id="sunnyApp" ng-app="sunnyApp" ng-controller="sunnyCtrl">

        Number of sun states: <input type="number" ng-model="data.sun_states" integer /><br>
        Length of grid tiles (m): <input type="number" ng-model="data.tile_length" float /><br>
        Total solar irradiance (W/m^2): <input type="number" ng-model="data.tsi" float /><br>
        <br>
        Advanced settings <input type="checkbox" ng-model="data.advanced_options_on"/><br>
        <div ng-show="data.advanced_options_on">
        Infer square length from face: <input type="checkbox" ng-model="data.infer_square_length_from_face" /><br>
        Square length (m): <input type="number" ng-model="data.square_length" float ng-disabled="data.infer_square_length_from_face"/><br>
        Inclination cutoff (degree): <input type="number" ng-model="data.inclination_cutoff" integer /><br>
        Sky section size (degree): <input type="number" ng-model="data.sky_section_size" integer /><br>
        </div>
        </div>
        
        <script>
function receiveData(data) {
    $scope = angular.element(document.getElementById('sunnyApp')).scope();
    $scope.data = data;
    $scope.$apply();
}

var app = angular.module('sunnyApp', []);
app.controller('sunnyCtrl', function($scope) {
    window.location.href = 'skp:force_update_dialog';
    $scope.$watchCollection('data', function (newData, oldData) {
        window.location.href = 'skp:return_data@' + JSON.stringify(newData);
    });
    
    
}).
directive('integer', function(){
    return {
        require: 'ngModel',
        link: function(scope, ele, attr, ctrl){
            ctrl.$parsers.unshift(function(viewValue){
                return parseInt(viewValue, 10);
            });
        }
    };
}).directive('float', function(){
    return {
        require: 'ngModel',
        link: function(scope, ele, attr, ctrl){
            ctrl.$parsers.unshift(function(viewValue){
                return parseFloat(viewValue, 10);
            });
        }
    };
});
        </script>
    </body>
</html>
